<form class="gap-3 d-flex flex-column" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-row d-flex gap-2">
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" />
            <small class="text-danger" *ngIf="updateForm.controls['name'].touched">
              {{ updateForm.controls['name'].errors | formControlErrorMessage }}
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Category</label>
            <select formControlName="categoryId" class="form-select" aria-label="Default select example">
                <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
            </select>
            <small class="text-danger" *ngIf="updateForm.controls['categoryId'].touched">
              {{ updateForm.controls['categoryId'].errors | formControlErrorMessage }}
            </small>
        </div>
    </div>
    <div class="form-row d-flex gap-2">
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Unit Price</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="unitPrice" />
            <small class="text-danger" *ngIf="updateForm.controls['unitPrice'].touched">
              {{ updateForm.controls['unitPrice'].errors | formControlErrorMessage }}
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Units in Stock</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="unitsInStock" />
            <small class="text-danger" *ngIf="updateForm.controls['unitsInStock'].touched">
              {{ updateForm.controls['unitsInStock'].errors | formControlErrorMessage }}
            </small>
        </div>
    </div>
    <div class="form-row d-flex gap-2">
        <div class="form-group col-md-6">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Image URL</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="imageUrl" />
            <small class="text-danger" *ngIf="updateForm.controls['imageUrl'].touched">
              {{ updateForm.controls['imageUrl'].errors | formControlErrorMessage }}
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                formControlName="description"></textarea>
                <small class="text-danger" *ngIf="updateForm.controls['description'].touched">
                  {{ updateForm.controls['description'].errors | formControlErrorMessage }}
                </small>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
