<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label fw-bold">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name">
    <small class="text-danger" *ngIf="updateForm.controls['name'].touched">
      {{ updateForm.controls['name'].errors | formControlErrorMessage }}
    </small>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label fw-bold">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
    <small class="text-danger" *ngIf="updateForm.controls['description'].touched">
      {{ updateForm.controls['description'].errors | formControlErrorMessage }}
    </small>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
