<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" (ngModel)="category?.name"
    formControlName="name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
    formControlName="description">{{category?.description}}</textarea>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
