<div class="container-fluid full-height">
    <div class="row justify-content-center align-items-center full-height">
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{categoryList.length}}</h5>
                    <p class="card-text">There is a category</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{productList.length}}</h5>
                    <p class="card-text">There is a product</p>
                </div>
            </div>
        </div>
    </div>
</div>