<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.imageUrl}}</td>
        <td class="text-center"><i class="bi bi-pencil pointer" [routerLink]="['update',product.id]"></i></td>
        <td class="text-center"><i class="bi bi-trash pointer" (click)="deleteProduct(product.id)"></i></td>
      </tr>
    </tbody>
  </table>
  